# Ignore development / build artifacts
__pycache__/
*.pyc
*.pyo
*.log
*.tmp
*.json
*.yaml
*.csv
tests/
notebooks/
docs/
.git/
.idea/
.vscode/
data/
output/
.env
.pytest_cache/
5K_rows_data/
SKALD.egg-info/
SKALD/__pycache__
SKALD/Dockerfile
utils/
BeneficiaryData/
chunkanon.egg-info/
chunks/
data/
encodings/
HospitalDetails/
logs/
models/
saved_models/
scripts/
temp/
tests/
venv/
.DS_Store
keys/
output/
output_chunks/
pipelineOutput/
SampleData-BSKY/
SKALD.egg-info/
small_data/
small_data_chunks/
TransactionData/
.coverage
.gitignore
encoded_pins.txt
datas/
SKALD/skald_ola2/
legacy_archive