datachunks/
generalized_chunk1.csv
encodings/
log.txt
.coverage
encoded_pins.txt
chunkanon.egg-info
venv
HealthDataGenerator.py
Minmax_finder.py
small_data/
small_datachunks/
chunkanon/__pycache__/
chunkanon/schema.json
DM*.py
small_data.zip
venv/
pipelineOutput/
best_nodes.csv
5K_rows_data/
# Ignore development / build artifacts
__pycache__/
*.pyc
*.pyo
*.csv
*.log
*.tmp
*.json
*.yaml
*.html
notebooks/
docs/
.git/
.idea/
.vscode/
data/
output/
.env
.pytest_cache/
5K_rows_data/
SKALD.egg-info/
SKALD/__pycache__
SKALD/Dockerfile
utils/
BeneficiaryData/
chunkanon.egg-info/
chunks/
data/
encodings/
HospitalDetails/
logs/
models/
saved_models/
scripts/
temp/
tests/.pytest_cache/
tests/test_data/
tests/pytest.ini
tests/__pycache__/
venv/
.DS_Store
keys/
output/
output_chunks/
pipelineOutput/
SampleData_BSKY/
SKALD.egg-info/
small_data/
small_data_chunks/
TransactionData/
.coverage
.gitignore
encoded_pins.txt
*.pyc
.dockerignore
coverage.txt
merging.py
bin/