# config.yaml
enable_k_anonymity: false
number_of_chunks: 1

chunk_directory: 5K_rows_data
output_path: generalized_chunk1.csv
output_directory: output_chunks
key_directory: keys
log_file: log.txt
save_output: true

suppress : 
  - Date of Birth 
encrypt :
  - Patient ID


